{% extends 'ristorante/master.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <h2 class="text-center mb-4">Login</h2>


    <!-- Visualizza i messaggi di errore -->
    {% if messages %}
        <div class="alert alert-danger">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
<form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
        </div>
<div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
        </div>
<div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe">
            <label class="form-check-label" for="rememberMe">Remember me</label>
        </div>

<button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
    <p class="text-center mt-3">
         <a href="{% url 'reset_password' %}">Forgot your password?</a> 
    </p>
<p class="text-center mt-2">
        Don't have an account? <a href="{% url 'register' %}">Sign up</a>
    </p>
</div>
{% endblock content%}