{% extends "ristorante/mainResetPSW.html" %}
{% block title %}Confirm{% endblock title %}
{% block content %}



<p>Hello,</p>
<p>You requested to reset your password. Click the link below:</p>
<p>


    <!-- genera dinamicamente un URL per la conferma del reset della password in Django.
     DOVE:
     {{ protocol }} → Inserisce dinamicamente il protocollo (http o https).
      {{ domain }} → Inserisce il dominio del sito web (es. example.com).
     {% url 'password_reset_confirm' uidb64=uid token=token %} → Costruisce l'URL per la conferma della nuova password. -->
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
        Reset Password
    </a>
</p>
<p>If you didn't request this, please ignore this email.</p>


{% endblock content %}